@use './../../mixxin/mixxin' as *;  

.threat-main-content {
    background-color: #FFFFFF;   
    width: 300px;
    height: calc(100vh - 130px);
    border-radius: 30px;
    @include dFlex(row, center, center);
}