@font-face {
    font-family: 'nunito';
    src: url('/fonts/nunito-Regular.ttf');   
} 

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'nunito';
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.standard-transition {
    transition: all 125ms ease-in-out;
}